body {
  background-color: #2d313a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.board {
  background-color: blue;
  border-radius: 8px 8px 0 0;
  border-spacing: 4px;
  box-shadow: 0px 0px 28px 7px rgba(50, 50, 50, 0.6);
  display: flex;
  height: 65vh;
  padding: 10px;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.board .circle {
  background: #fff;
  border-radius: 100px;
  box-shadow: inset 7px 7px 20px 0px rgba(50, 50, 50, 0.4);
  display: flex;
  flex: 1;
  opacity: 1;
}

.row-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row-container:hover {
  opacity: .8;
}

.red {
  background: #fff;
  border-radius: 100px;
  box-shadow: inset 7px 7px 20px 0px rgba(50, 50, 50, 0.4);
  display: flex;
  flex: 1;
  opacity: 1;
  background-color: red;
}

.yellow {
  background: #fff;
  border-radius: 100px;
  box-shadow: inset 7px 7px 20px 0px rgba(50, 50, 50, 0.4);
  display: flex;
  flex: 1;
  opacity: 1;
  background-color: yellow;
}

.reset-button {
  background: #fff;
  margin: 20px 780px;
  border: 1px solid black;
  width: 100px;
}

.explorerContainer {
  float:right;
  width: 98%;
  background: #f3695f;
  border-left: 2px solid black;
  padding: 20px;
}

.explorerContainer textarea {
  font-family: monospace;
  width: 100%;
  height: 400px;
  font-size: 16px;
}
